.image{
	height: 200px;
	border-radius: 50px;
	padding:  10px;
	opacity: 0.75;
}
.image:hover{
	opacity: 1;
}
body{
	color:  white;
	margin:  100px;
	font-family: cursive;
}
h1{
	text-transform: uppercase;
	letter-spacing: 12px;
}
table{
	margin-right: auto;
	margin-left: auto;
}
.profile{
	border-radius:  50%;
	height:  60px;
	border-style: inset;
	border-color: #FEFCF3;
	border-width: 6 ;
}
.div1 {
	text-align: center;
}
